@model Quiz.Application.DTOs.UserDTO

<h1 class="display-4">Perfil</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>Idade</th>
			<th>Perfil</th>
			<th>Score</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>@Model.Id</td>
			<td>@Model.Name</td>
			<td>@Model.Age</td>
			<td>@Model.Perfil</td>
			<td>@Model.Score</td>
		</tr>
	</tbody>
</table>