@model IEnumerable<Quiz.Application.DTOs.UserDTO>

<h1>User list</h1>

<a class="btn btn-secondary" asp-action="Create" asp-controller="User">Create user</a>

<table class="table table-striped" id="users-table">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Age</th>
			<th>Perfil</th>
			<th>Login</th>
			<th>Email</th>
			<th>Data de cadastro</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model)
		{
			<input asp-for="@obj.Id" hidden/>
			<tr>
				<td>@obj.Id</td>
				<td>@obj.Name</td>
				<td>@obj.Age</td>
				<td>@obj.Perfil</td>
				<td>@obj.Login</td>
				<td>@obj.Email</td>
				<td>@obj.DataCadastro</td>
				<td>
					<a role="button" asp-route-id="@obj.Id" asp-action="Update" asp-controller="User" class="btn btn-dark">Edit</a>
					<a role="button" asp-route-id="@obj.Id" asp-action="Delete" asp-controller="User" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>