@model IEnumerable<Quiz.Application.DTOs.QuestionDTO>

<div class="text-center">
	<h1 class="display-4">Lista de perguntas</h1>

</div>

<table class="table table-striped" id="questions-table">
	<thead>
		<tr>
			<th></th>
			<th>Tema</th>
			<th>Descrição</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model.OrderBy(o => o.Theme))
		{
			<tr>
				<th>
					<input disabled type="checkbox" />
				</th>
				<td>@obj.Theme</td>
				<td>@obj.Description</td>
				<td>
					<a role="button" asp-route-id="@obj.Id" asp-action="Answer" asp-controller="Question" class="btn btn-secondary">Responder</a>
					<a role="button" asp-route-id="@obj.Id" asp-action="Update" asp-controller="Question" class="btn btn-dark">Edit</a>
					<a role="button" asp-route-id="@obj.Id" asp-action="Delete" asp-controller="Question" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		}

	</tbody>
</table>
<a class="btn btn-secondary" asp-action="Create" asp-controller="Question">Create question</a>