@model IEnumerable<Quiz.Application.DTOs.QuestionDTO>

<style>
	.question-h1 {
		margin: 24px;
	}

	.table-margin {
		margin-top: 40px;
	}

	.checked-label {
		color:gray;
	}
</style>

<div class="table-margin">
</div>
<table class="table table-striped" id="questions-table">
	<thead>
		<tr>
			<th></th>
			<th>Tema</th>
			<th>Descrição</th>
			<th>Pontos</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var obj in Model.OrderBy(o => o.Theme))
		{
			<tr>
				<td>
					<input id="checkbox_@(obj.Id)" type="checkbox" disabled @(ViewBag.Checked[obj.Id] ? "checked" : "") />
					<label class="checked-label">@(ViewBag.Checked[obj.Id] ? "Respondida" : "Não-Respondida")</label>
				</td>

				<td>@obj.Theme</td>
				<td>@obj.Description</td>
				<td class="text-center">@obj.Points</td>
				<td class="text-center">
					<a role="button" asp-route-questionid="@obj.Id" asp-action="Index" asp-controller="Answer" class="btn btn-dark">Responder</a>
					@if (ViewBag.Perfil == Quiz.Domain.Enums.PerfilEnum.Admin)
					{
						<a role="button" asp-route-id="@obj.Id" asp-action="Update" asp-controller="Question" class="btn btn-primary">Edit</a>
						<a role="button" asp-route-id="@obj.Id" asp-action="Delete" asp-controller="Question" class="btn btn-danger">Delete</a>
					}
				</td>
			</tr>
		}

	</tbody>
</table>
<a class="btn btn-secondary" asp-action="Create" asp-controller="Question">Create question</a>